Options +FollowSymLinks -MultiViews -Indexes

RewriteEngine on
RewriteBase /

RewriteCond %{HTTP_HOST}        !^www
RewriteCond %{HTTP_HOST}        ^([^\.]+)\.([^\.]+)\.([^\.]+)$
RewriteCond %{DOCUMENT_ROOT}/%1/$1 -f
RewriteRule ^(.*)$ %1/$1 [L]

RewriteCond %{HTTP_HOST}        !^www
RewriteCond %{HTTP_HOST}        ^([^\.]+)\.([^\.]+)$
RewriteCond %{DOCUMENT_ROOT}/frontend/$1 -f
RewriteRule ^(.*)$ frontend/$1 [L]

RewriteCond %{DOCUMENT_ROOT}/common/$1 -f
RewriteRule ^(.*)$ common/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php [NC,L,QSA]
