/* site */
html,body{
    background-color: #ddd;
}



.module{

}

.module.outer{
    margin-top: 10px;
    border-top: 1px solid rgba( 0, 0, 0, .1);
    border-bottom: 1px solid rgba( 0, 0, 0, .1);
    margin-bottom: 10px;
}
.module.inner{
    padding: 10px;
    box-sizing: border-box;
}

a{
    color: inherit;
}

.footer{
    background-color: white;
    color: #333;
    padding: 0 10px;
}

nav.nav .nav.list{
    background-color: white;
    color: #333;
}
nav.nav .nav.item:hover{
    background-color: #aaa;
    color: white;
}
