/* site */
html,body{
    background-color: #ddd;
}

a{
    color: inherit;
}

.footer{
    background-color: white;
    color: #333;
    padding: 0 10px;
}

nav.nav .nav.list{
    background-color: white;
    color: #333;
    z-index: 1;
}
nav.nav .nav.item:hover{
    background-color: #aaa;
    color: white;
}
.body.nav,
.body.slide,
.body.blog-highlight{
    margin-bottom: 10px;
}
